.Footer {
  text-align: center;
  padding: 1rem;
  background: #4a4a4a;
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
